{% extends '../layout.twig' %}

{% block main %}
	<div class="content__item content__item--3quart">
		<section class="sect">
			<h3 class="sect__title">
				О нас
			</h3>
			<p class="sect__descr">
				Межрегиональный общественный благотворительный фонд «За здоровое поколение на пороге XXI века» ведет работу по организации системы социально-психологической помощи и реабилитации подростков и молодежи с 1997 года.
			</p>
			<dl class="defs">
				<dt class="defs__title">
					Основная целевая группа:
				</dt>
				<dd class="defs__descr">
					беспризорные и безнадзорные наркозависимые и токсикозависимые несовершеннолетние, подростки из семей группы риска.
				</dd>
			</dl>
			<dl class="defs">
				<dt class="defs__title">
					Опосредованная целевая группа:
				</dt>
				<dd class="defs__descr">
					ближайшее окружение (родители и несовершеннолетние), специалисты в области реабилитации и профилактики наркозависимости.
				</dd>
			</dl>
			<p class="sect__descr">
				За время деятельности Фонда в различных программах приняли участие более 2000 детей и подростков, нуждающихся в социальной поддержке и помощи, 7 несовершеннолетних получили специализированную медико-социальную помощь за рубежом.
			</p>
			<p class="sect__descr">
				С 2002 года по заказу Комитета по молодежной политике и взаимодействию с общественными организациями в рамках реализации целевых программ Санкт-Петербурга «Комплексные меры по противодействию злоупотреблению наркотическими средствами и их незаконному обороту на 2003-2005 годы» и «Комплексные меры по противодействию злоупотреблению наркотическими средствами и их незаконному обороту на 2006-2008 годы»» фондом проводится специализированная программа реабилитации уличных наркозависимых несовершеннолетних. В ней приняли участие и успешно закончили более 160 детей и подростков в рамках стационарной программы и более 440 несовершеннолетних в рамках амбулаторной программы.
			</p>
			<p class="sect__descr">
				За время пребывания несовершеннолетних в центре проводится полный комплекс мероприятий по социально-психологической реабилитации. Все услуги предоставляются Центром бесплатно.
			</p>
			<p class="sect__descr">
				Фонд «За здоровое поколение на пороге XXI века» награжден Дипломом Губернатора Санкт-Петербурга за успешную работу в области профилактики наркозависимости и неоднократно награждался Дипломами Комитета по молодежной политике и взаимодействию с общественными организациями за вклад в реализацию молодежной политики Санкт-Петербурга.
			</p>
		</section>
		<section class="sect content__item">
			<h3 class="sect__title sect__title--green">
				Основные направления деятельности реабилитационного центра
			</h3>
			<ol class="sect__list sect__list--num">
				<li class="sect__item">
					Создание системы реабилитационного поля, в которую входят Центр медицинской и социальной реабилитации детей, оставшихся без попечения родителей им. В.В. Цимбалина, детская инфекционная больница №3, Санкт-Петербургская государственная педиатрическая медицинская академия, подразделения по делам несовершеннолетних РУВД, Муниципальные советы муниципальных образований, школы, интернаты, детские дома, районные наркологические кабинеты.
				</li>
				<li class="sect__item">
					Реализация программы комплексной амбулаторной и стационарной реабилитации безнадзорных и беспризорных детей и подростков в возрасте от 8 до 18 лет.
				</li>
				<li class="sect__item">
					Организация системы социального сопровождения несовершеннолетних (восстановление семейных связей, правовое сопровождение в судах дел несовершеннолетних и т.д., совместно с ГУ «Городской центр профилактики безнадзорности и наркозависимости несовершеннолетних «Контакт»).
				</li>
				<li class="sect__item">
					Осуществление образовательной программы в сотрудничестве с образовательными учреждениями Калининского района Санкт – Петербурга (совместно с ГОУ СОШ № 633 с углубленным изучением образовательной области «Технология» Калининского района).
				</li>
				<li class="sect__item">
					Профессиональная и предпрофессиональная подготовка (совместно с ГОУ СОШ №633 с углубленным изучением образовательной области «Технология» Калининского района, Фондом возрождения культуры верховой езды «Конный цирковой театр «Мустанг»).
				</li>
				<li class="sect__item">
					Проведение программы по развитию духовных и нравственных ценностей (совместно с Православной религиозной организацией «Приход Благовещенской Пискаревской Церкви»).
				</li>
				<li class="sect__item">
					Организация работы с семьями группы риска и неблагополучными семьями (совместно с органами опеки и попечительства Муниципальных образований по месту жительства клиентов программы, ГУ «Городской центр профилактики безнадзорности и наркозависимости несовершеннолетних «Контакт»).
				</li>
				<li class="sect__item">
					Проведение программ по вакцинации детей из семей социального риска в целях профилактики гепатита В.
				</li>
			</ol>
		</section>
	</div>
	<section class="sect content__item content__item--quart">
		<h3 class="sect__title sect__title--green">
			Партнеры
		</h3>
		<ul class="partners">
			<li class="partners__item">
				<p class="partners__descr">
					На сайте <a href="http://blago.ru/">blago.ru</a> Вы можете легко и просто сделать пожертвование в адрес нашей организации с помощью кредитной карты.
				</p>
			</li>
			<li class="partners__item">
				<img src="img/partner-1.png" width="120" height="120" alt="Российский Красный Крест (Санкт-Петербург)">
			</li>
			<li class="partners__item">
				<img src="img/partner-2.png" width="160" height="50" alt="Rode Kors">
			</li>
			<li class="partners__item">
				<img src="img/partner-3.png" width="108" height="108" alt="Unicef">
			</li>
			<li class="partners__item">
				<img src="img/partner-4.png" width="200" height="58" alt="Санкт-Петербургский государственный университет">
			</li>
			<li class="partners__item">
				<img src="img/partner-5.png" width="184" height="137" alt="Комитет по молодежной политике и взаимодействию с общественными организациями">
			</li>
			<li class="partners__item">
				<img src="img/partner-6.png" width="150" height="110" alt="Благотворительное общество «Невский ангел»">
			</li>
		</ul>
	</section>
{% endblock %}
