{% extends '../layout.twig' %}

{% block main %}
	<section class="sect content__item content__item--third">
		<h3 class="sect__title sect__title--orange">Проекты</h3>
		<dl class="defs">
			<dt class="defs__title">
				<a class="sect__link sect__link--orange" href="projects/1.html">Социально-реабилитационный центр</a>
			</dt>
			<dd class="defs__descr">Для детей, оказавшихся в трудной жизненной ситуации</dd>
			<dt class="defs__title">
				<a class="sect__link sect__link--orange" href="projects/2.html">КИВИ</a>
			</dt>
			<dd class="defs__descr">Клуб искренних волонтерских инициатив</dd>
			<dt class="defs__title">
				<a class="sect__link sect__link--orange" href="projects/3.html">«Уютная гостиная»</a>
			</dt>
			<dd class="defs__descr">Досуговый образовательный центр для девочек из семей мигрантов</dd>
		</dl>
		<a class="sect__link sect__link--adv sect__link--orange" href="projects/index.html">Подробнее</a>
	</section>

	<section class="sect content__item content__item--third">
		<h3 class="sect__title">СМИ о нас</h3>
		<dl class="defs">
			<dt class="defs__title">
				<a class="sect__link" href="http://tv100.ru/video/view/kto-zabotitsja-o-besprizornikah">Телеканал «100 ТВ»</a>
			</dt>
			<dd class="defs__descr">2 июня 2009 года</dd>
			<dt class="defs__title">
				<a class="sect__link" href="https://mobf21.github.io/files/pd.pdf">Петербургский дневник</a>
			</dt>
			<dd class="defs__descr">19 марта 2007 года, № 10 (120)</dd>
			<dt class="defs__title">
				<a class="sect__link" href="https://mobf21.github.io/files/nv.pdf">Невское время</a>
			</dt>
			<dd class="defs__descr">11 декабря 2002 года</dd>
			<dt class="defs__title">
				<a class="sect__link" href="https://mobf21.github.io/files/rg.pdf">Российская газета</a>
			</dt>
			<dd class="defs__descr">12 февраля 2002 года, № 27</dd>
		</dl>
	</section>

	<section class="sect content__item content__item--third" itemscope itemtype="http://schema.org/Place">
		{% include '../partials/contacts.twig' %}
		<a class="sect__link sect__link--adv sect__link--crimson" href="help.html">
			Подробнее
		</a>
	</section>

	<section class="sect content__item content__item--third">
		<h3 class="sect__title">
			Наши отчеты
		</h3>
		<dl class="defs">
			<dt class="defs__title">
				Отчет о деятельности центра
			</dt>
			<dd class="defs__descr">
				<a class="sect__link" href="files/otchet_za_2012_god.doc">2012</a>
			</dd>
			<dt class="defs__title">
				Отчет в Министерство юстиции
			</dt>
			<dd class="defs__descr">
				<a class="sect__link" href="files/minyust2016.pdf">2016</a><br>
				<a class="sect__link" href="files/minyust2015.pdf">2015</a><br>
				<a class="sect__link" href="files/minyust2014.pdf">2014</a><br>
				<a class="sect__link" href="files/minyust2013.pdf">2013</a><br>
				<a class="sect__link" href="files/minyust2012.pdf">2012</a><br>
				<a class="sect__link" href="files/minyust2011.pdf">2011</a><br>
				<a class="sect__link" href="files/minyust2010.pdf">2010</a>
			</dd>
		</dl>
	</section>

	<section class="sect content__item content__item--2third">
		<h3 class="sect__title sect__title--green">Новости</h3>
		<dl class="defs">
			<dt class="defs__title">
				17.03.2017
			</dt>
			<dd class="defs__descr"><a class="sect__link sect__link--green" href="news.html#concert">Благотворительный концерт Михаила Башакова</a> в социально-реабилитационном Центре для несовершеннолетних</dd>
			<dt class="defs__title">
				24.09.2015
			</dt>
			<dd class="defs__descr"><a class="sect__link sect__link--green" href="http://philanthropy.ru/intervyu/2015/09/24/29509/#.Vgk6QMvtlHy">Интервью Олина Валерия</a>, координатора проекта «Старшая сестра»</dd>
		</dl>
		<a class="sect__link sect__link--adv sect__link--green" href="news.html">Все новости</a>
	</section>

	<section class="sect content__item content__item--half">
		<h3 class="sect__title sect__title--crimson">Пожертвования</h3>
		<p class="sect__descr">
			Вы можете легко и просто сделать пожертвование в адрес нашей организации с помощью кредитной карты на сайте программы Благо.ру.
		</p>
		<a class="sect__link sect__link--adv sect__link--crimson" href="help.html">Как помочь</a>
	</section>

	<section class="sect content__item content__item--half">
		<h3 class="sect__title">Мы в социальных сетях</h3>
		<ul class="socials">
			<li class="socials__item">
				<a class="socials__link socials__link--1" href="http://vk.com/mobf21">Наша группа в контакте</a>
			</li>
			<li class="socials__item">
				<a class="socials__link socials__link--2" href="http://obshestvenniki.ru/my/?uid=2566">Наша страница на «Общественники.ру»</a>
			</li>
			<li class="socials__item">
				<a class="socials__link socials__link--3" href="https://www.facebook.com/pages/Фонд-За-здоровое-поколение-на-пороге-XXI-века/232027430183863">Мы в Facebook</a>
			</li>
			<li class="socials__item">
				<a class="socials__link socials__link--4" href="https://twitter.com/mobf21">Мы в Twitter</a>
			</li>
		</ul>
	</section>
{% endblock %}

{% block heading %}
	<a class="nav__title-link">{{ siteHeading }}</a>
{% endblock %}

{% block slide %}
<div class="slide slide--index">
	<h2 class="visually-hidden">{{ title }}</h2>
	<img class="slide__img slide__img--index" src="img/slides/{{ page }}.jpg" width="455" height="300" alt="{{ title }}">
	<section class="slide__lead sect sect--lead">
		<h3 class="sect__title sect__title--lead">Наш фонд</h3>
		<p class="sect__descr">Реабилитационный центр Межрегионального общественного благотворительного фонда «За здоровое поколение на пороге XXI века» ведет работу по организации системы социально-психоло&shy;гической помощи и реабилитации подростков и молодежи с 1997 года. Основной целевой группой являются беспризорные и без&shy;надзорные наркозависимые и токсикозависимые несовершенно&shy;летние, а также подростки из семей группы риска. На базе центра организована система социально-психологической работы с семьями и ближайшим окружением несовершеннолетних.</p>
		<a class="sect__link sect__link--adv sect__link--lead" href="fond.html">Подробнее</a>
	</section>
</div>
{% endblock %}
