{% extends '../layout.twig' %}

{% block main %}
	<div class="sect content__item content__item--half">
		<dl class="defs">
			<dt class="defs__title">
				Федеральный Закон «Об основных гарантиях прав ребенка в Российской Федерации»
			</dt>
			<dd class="defs__descr">
				В ред. Федеральных законов от 20.07.2000 N 103-ФЗ, от 22.08.2004 N 122-ФЗ, от 21.12.2004 N 170-ФЗ.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_9.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_9.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">
				Социальная адаптация беспризорных и безнадзорных несовершеннолетних в условиях социально-реабилитационного центра
			</dt>
			<dd class="defs__descr">
				Наше учебно-методическое пособие.
			</dd>
			<dd class="defs__descr">
				Скачать: <a class="sect__link" href="files/mobf21.pdf">[PDF]</a>
			</dd>
			<dt class="defs__title">
				В России – «третья волна» беспризорности, безнадзорности, неграмотности и преступности подростков (статистика)
			</dt>
			<dd class="defs__descr">
				В МВД РФ прошло расширенное заседание коллегии, посвященное вопросам профилактики и правонарушений несовершеннолетних. Глава министерства Рашид Нургалиев в День защиты детей сделал ряд важных заявлений и привел статистику, связанную с проблемами безнадзорности подростков и экстремистскими настроениями в молодежной среде.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_1.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_1.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">
				Детская беспризорность
			</dt>
			<dd class="defs__descr">
				Детская беспризорность — социальное явление, при котором происходит отрыв детей от семьи с утратой постоянного места жительства. Отличительными признаками беспризорности являются: полное прекращение связи с семьёй, родителями, родственниками; проживание в местах, не предназначенных для человеческого жилья; добывание средств к жизни способами, не признаваемыми в обществе (попрошайничество, воровство); подчинение неформальным законам.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_2.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_2.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">
				Беспризорность в России: вновь грозная реальность
			</dt>
			<dd class="defs__descr">
				Первое наиболее полное и точное определение этому феномену можно найти в известном "красном Гранате" - БСЭ, изданной в 1930 году. "Беспризорность, беспризорное детство, - пишет автор статьи, - тяжелое общественное бедствие, чрезвычайно распространенное как на Западе, так и у нас. Беспризорные - это несовершеннолетние, лишенные педагогического надзора и попечения и живущие в условиях, вредно действующих на их общественные проявления и здоровье".
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_3.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_3.doc">[DOC]</a>
			</dd>
		</dl>
	</div>
	<div class="sect content__item content__item--half">
		<dl class="defs">
			<dt class="defs__title">
				Социальные факторы наркотизации
			</dt>
			<dd class="defs__descr">
				Формирование личности подростка не происходит изолированно от общества, и во многом зависит от его особенностей, поэтому рассматривать проблему наркомании в отрыве от социально-культурного контекста было бы неверно. В нашей стране кризис подросткового возраста усугубляется общественным и экономическим состоянием государства.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_4.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_4.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">
				Бедность путинской России
			</dt>
			<dd class="defs__descr">
				Источник: <a class="sect__link" href="http://wciom.ru/">wciom.ru</a>.
			</dd>
			<dd class="defs__descr">
				МОСКВА, 16 октября 2007 г. Всероссийский центр изучения общественного мнения (ВЦИОМ) представляет данные о том, каким доходом должна обладать семья, чтобы её можно было считать богатой, бедной или обеспечивающей себе достойный уровень жизни; в какой из периодов российской истории и уровень жизни скорее рос, а когда скорее падал, в чём видят причины изменения числа бедных при В. Путине.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_5.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_5.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">
				Часто ли мы помогаем ближнему своему?
			</dt>
			<dd class="defs__descr">
				Источник: <a class="sect__link" href="http://wciom.ru/">wciom.ru</a>.
			</dd>
			<dd class="defs__descr">
				МОСКВА, 14 августа 2009 г. Всероссийский центр изучения общественного мнения (ВЦИОМ) представляет данные о том, какую благотворительную помощь оказывают наши сограждане своим ближним, как часто это делают, сколько средств тратят на это и получали ли сами подобную помощь.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_6.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_6.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">«Легкий способ стать человеком» - интервью Светланы Сорокиной «Российской газете»
			</dt>
			<dd class="defs__descr">
				Источник: <a class="sect__link" href="http://rg.ru/2009/01/29/sorokina.html">rg.ru/2009/01/29/sorokina.html</a>.
			</dd>
			<dd class="defs__descr">
				У Светланы Сорокиной - известной теле- и радиоведущей - выходит уже вторая книга. Называется она "Мне не все равно", и речь в ней - о благотворительности. Почему Светлана считает этот вопрос важным в сегодняшние дни, она рассказала "РГ".
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_7.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_7.doc">[DOC]</a>
			</dd>
			<dt class="defs__title">
				Конвенция о правах ребенка
			</dt>
			<dd class="defs__descr">
				Принята резолюцией 44/25 Генеральной Ассамблеи от 20 ноября 1989 года. Вступила в силу 2 сентября 1990 года.
			</dd>
			<dd class="defs__descr">
				Скачать весь текст: <a class="sect__link" href="files/mobf21_8.pdf">[PDF]</a> <a class="sect__link" href="files/mobf21_8.doc">[DOC]</a>
			</dd>
		</dl>
	</div>
{% endblock %}
