{% extends '../layout.twig' %}

{% block main %}
	<section class="sect content__item">
		<h3 class="sect__title sect__title--green" id="concert">
			17.03.2017
		</h3>
		<p class="sect__descr">
			<b>Благотворительный концерт Михаила Башакова в социально-реабилитационном Центре для несовершеннолетних</b>
		</p>
		<p class="sect__descr">
			17 марта 2017 года в социально-реабилитационном Центре для несовершеннолетних Фонда «За здоровое поколение на пороге XXI века» петербургский автор-исполнитель Михаил Башаков дал благотворительный концерт для воспитанниц Центра.
		</p>
		<p class="sect__descr">
			Его позитив, неподражаемое владение гитарой не оставили детей равнодушными. А вот что сам говорит Михаил об этом выступлении:
		</p>
		<blockquote class="sect__descr">
			«Сегодня я выступал перед детьми в Центре реабилитации детей из неблагополучных семей. Мне нечего сказать, кроме того, что я бы хотел дать им самое ценное. Что есть самое ценное? Вот это и хочется отдать. Как хорошо, что у меня есть песни, среди них есть песни, которые и дети смогли понять. Они радовались, и это была самая большая награда».
		</blockquote>
		<p class="sect__descr">
			Мы от всей души благодарим Михаила за его выступление, наполненное положительной энергией и неиссякаемым солнечным светом. Каждое слово, каждый аккорд наполнили душу светлыми мыслями и теплом. Ждем снова скорой встречи с этим замечательным человеком.
		</p>
	</section>
	<section class="sect content__item">
		<h3 class="sect__title">
			24.09.2015
		</h3>
		<p class="sect__descr">
			<a class="sect__link" href="http://philanthropy.ru/intervyu/2015/09/24/29509/#.Vgk6QMvtlHy">Интервью Олина Валерия</a>, координатора проекта «Старшая сестра».
		</p>
	</section>
	<section class="sect content__item content__item--third">
		<h3 class="sect__title sect__title--green">
			01.12.2012
		</h3>
		<p class="sect__descr">
			С декабря 2012 года на базе Cоциально-реабилитационного центра фонда «За здоровое поколение на пороге XXI века» совместно с общественным движением <a class="sect__link sect__link--green" href="http://nashi-deti.spb.ru/">«Наши дети»</a> запущен новый волонтерский проект «Старшая сестра», целью которого является не только наставничество за каждым ребенком, но и общение девушек-волонтеров и воспитанниц как сестер, направленное на улучшение психологического состояния несовершеннолетних и поддержку их эмоционального, жизненного и социального статуса. Добровольцы регулярно, согласно составляемому еженедельному расписанию, посещают Центр и помогают воспитанницам в выполнении их домашних заданий, сопровождают детей вместе с воспитателями на различные культурные мероприятия, проводят различные мастер-классы: по вязанию, естественному макияжу, кулинарному искусству, фотоделу, изобразительному и прикладному искусству и т. д.
		</p>
	</section>
	<div class="content__item content__item--2third">
		<section class="sect">
			<h3 class="sect__title sect__title--green">
				26.12.2011
			</h3>
			<p class="sect__descr">
				Наш фонд стал участником благотворительной программы «Благо.ру».
			</p>
		</section>
		<section class="sect">
			<h3 class="sect__title">
				30.04.2011
			</h3>
			<p class="sect__descr">
				Фонд завершил реализацию 4х месячного проекта «Выявление, социально-психологическая реабилитация и ресоциализация безнадзорных и беспризорных наркозависимых несовершеннолетних в Санкт-Петербурге» на средства гранта Общероссийского общественного фонда «Национальный благотворительный фонд».
			</p>
		</section>
		<section class="sect">
			<h3 class="sect__title sect__title--green">
				04.01.2011
			</h3>
			<p class="sect__descr">
				Первое посещение волонтерами девочек из социально-реабилитационного центра в 2011 году состоится 26 февраля.
			</p>
		</section>
		<section class="sect">
			<h3 class="sect__title">
				04.01.2011
			</h3>
			<p class="sect__descr">
				Посещение катка подопечных девочек и волонтеров «КИВИ» планируется на 26.02.2011.
			</p>
		</section>
		<section class="sect">
			<h3 class="sect__title sect__title--green">
				04.01.2011
			</h3>
			<p class="sect__descr">
				Празднование Масленицы – с 28.02.2011 по 06.03.2011.
			</p>
		</section>
	</div>
{% endblock %}
