<h3 class="sect__title sect__title--crimson">
	Контакты
</h3>
<p class="visually-hidden" itemprop="name">
	Межрегиональный общественный благотворительный фонд «За здоровое поколение на пороге XXI века»
</p>
<dl class="defs">
	<dt class="defs__title">
		Адрес (фактический)
	</dt>
	<dd class="defs__descr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="postalCode">195273</span>, РФ, <span itemprop="addressRegion">Санкт-Петербург</span>, <span itemprop="streetAddress">ул. Руставели, д. 37, литер А</span>
		<span class="visually-hidden"> (<span itemprop="addressCountry">RU</span>)</span>
	</dd>
	<dt class="defs__title">
		Адрес (юридический)
	</dt>
	<dd class="defs__descr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="postalCode">188350</span>, РФ, <span itemprop="addressRegion">Лен. область</span>, <span itemprop="addressLocality">г. Гатчина</span>, <span itemprop="streetAddress">ул. Железнодорожная, д. 43</span>
		<span class="visually-hidden"> (<span itemprop="addressCountry">RU</span>)</span>
	</dd>
	<dt class="defs__title">
		Телефон
	</dt>
	<dd class="defs__descr" itemprop="telephone">299-48-02</dd>
	<dt class="defs__title">
		E-mail
	</dt>
	<dd class="defs__descr">
		<a class="sect__link sect__link--crimson" href="mailto:ISCFcenter@mail.ru">ISCFcenter@mail.ru</a>
	</dd>
	{{ contacts_addition }}
</dl>
