{% extends '../../partials/projects.twig' %}

{% block content_body %}
	<p class="sect__descr">
		Реабилитационный центр Межрегионального общественного благотворительного фонда «За здоровое поколение на пороге XXI века» ведет работу по организации системы социально-психологической помощи и реабилитации подростков и молодежи с 1997 года. Для решения поставленных задач Межрегиональный общественный благотворительный фонд «За здоровое поколение на пороге XXI века» имеет оборудованные помещения Реабилитационного центра площадью 439 кв.м, рассчитанное на одновременное стационарное пребывание 15 подростков и амбулаторное сопровождение до 200 несовершеннолетних. Данное помещение полностью удовлетворяет действующим санитарным нормам и гигиеническим правилам, предъявляемых к социальным учреждениям стационарного пребывания для несовершеннолетних.
	</p>
	<p class="sect__descr">
		Стационарная программа реабилитации реализуется на базе Реабилитационного центра и включает в себя индивидуальную и групповую психокоррекционную работу, программу обучения жизненным навыкам (домоводство, навыки коммуникации, кулинария и т.д.), организацию досуга, образовательную деятельность, спортивно-оздоровительные занятия, программу по развитию нравственных и духовных ценностей, системную работу с семьей и значимым окружением и другую просоциальную деятельность. Программа реабилитации составляется на основе индивидуальных нужд каждого ребенка.
	</p>
	<p class="sect__descr">
		На базе Центра организована система социально-психологической работы с семьями и ближайшим окружением несовершеннолетних. Внедрена в практику система правовой поддержки дел беспризорных и безнадзорных несовершеннолетних, в том числе в судах на стадии следствия. В контексте процесса реабилитации проводится программа по развитию нравственных и духовных ценностей через духовное окормление несовершеннолетних, приобщение к канонам Православия в сотрудничестве с Храмом Благовещения на Пискаревском проспекте. Клиенты Реабилитационного центра посещают Храм и участвуют в Богослужениях. Организованы систематические занятия конным спортом на базе конно-спортивной школы «Мустанг» с использованием элементов иппотерапии. Сотрудничество с данным учреждением позволяет также создать дополнительные возможности по трудотерапии клиентов реабилитационной программы.
	</p>
	<p class="sect__descr">
		Все несовершеннолетние, успешно окончившие стационарную реабилитационную программу, пребывание в семье для которых представляется невозможным, обеспечиваются дальнейшим институтом социального устройства в соответствии с путевками Комитета по образованию Администрации Санкт-Петербурга (детские дома, школы-интернаты, училища с предоставлением общежития и т.д.).
	</p>
	<p class="sect__descr">
		Амбулаторная программа проводится на базе Реабилитационного центра и силами уличной социальной службы Фонда. Основные направления осуществляемой работы:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			выявление и первичное знакомство с уличными детьми и детьми высокого социального риска;
			оказание помощи в организации социально-педагогической работы с беспризорными несовершеннолетними и детьми из семей группы риска;
		</li>
		<li class="dash-list__item">
			определение основного круга проблем несовершеннолетних и составление индивидуальных программ перспективной помощи;
		</li>
		<li class="dash-list__item">
			создание мотивации на ресоциализацию несовершеннолетних, в том числе безнадзорных и беспризорных;
			предоставления информации о службах помощи несовершеннолетним и возможностях обращения в социозащитные учреждения;
		</li>
		<li class="dash-list__item">
			проведение исследовательской программы по определению социально-демографических характеристик и потребностей в оказываемой помощи;
		</li>
		<li class="dash-list__item">
			организация патронажа детей, нуждающихся в срочной медицинской и социальной помощи;
		</li>
		<li class="dash-list__item">
			проведение первичной диагностики, выяснение социального статуса, семейной ситуации, состояние здоровья, жилищных условий, оценка уровня реабилитационного потенциала.
		</li>
	</ul>
	<p class="sect__descr">
		Реабилитационная программа представляет собой комплексный способ оказания помощи, который ориентируется на создание условий для отказа от употребления психоактивных веществ через личностный рост и ресоциализацию резидентов. Реализация программы требует воздержания от психоактивных веществ, изменяющих сознание.
	</p>
{% endblock %}
