{% extends '../../partials/projects.twig' %}

{% block content_body %}
	<p class="sect__descr">
		При социально-реабилитационном Центре действует постоянная группа волонтеров. Работа волонтеров организуется сотрудниками Фонда.
	</p>
	<p class="sect__descr">
		Таким образом, между волонтерами и Фондом возникает взаимодействие, при котором волонтеры добровольно предлагают в распоряжение Фонда свои услуги и время, а Фонд помогает волонтерам реализовать их стремление оказания помощи нуждающимся людям и обществу, в котором они живут, предоставляет всю необходимую информацию и помогает в осуществлении добровольческих инициатив.
	</p>
	<p class="sect__descr">
		Волонтёр Фонда может рассчитывать на:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			Дружелюбное отношение как к равному со стороны сотрудников.
		</li>
		<li class="dash-list__item">
			Интересные и разнообразные задания.
		</li>
		<li class="dash-list__item">
			Четкие, понятные объяснения и правила (хорошая организация работы).
		</li>
		<li class="dash-list__item">
			Информацию, ответы на свои вопросы, обучение и поддержку инициативы создания своих проектов.
		</li>
		<li class="dash-list__item">
			Кроме обязанностей иметь еще и права.
		</li>
		<li class="dash-list__item">
			Контактное лицо, к кому можно обратиться.
		</li>
		<li class="dash-list__item">
			Иметь доступ к необходимым ресурсам для осуществления своей работы.
		</li>
		<li class="dash-list__item">
			Признание важности работы, которая была сделана и благодарность.
		</li>
	</ul>
	<p class="sect__descr">
		Если Вы:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			умеете или хотите научится ладить с детьми и подростками;
		</li>
		<li class="dash-list__item">
			испытываете радость от общения с людьми и от бескорыстной помощи;
		</li>
		<li class="dash-list__item">
			хотите помочь сделать жизнь детей в сиротских заведениях интереснее и ярче;
		</li>
		<li class="dash-list__item">
			счастливый обладатель чуточки свободного времени, которое вы сможете посвящать добровольной работе;
		</li>
	</ul>
	<p class="sect__descr">
		мы предлагаем Вам наши программы:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			Программа по организации радостных субботних вечеров для воспитаниц Центра социальной реабилитации (девочки от 6 до 16 лет).
		</li>
		<li class="dash-list__item">
			Индивидуальная помощь при выполнении домашних заданий.
		</li>
		<li class="dash-list__item">
			«Старший брат – младшая сестра» или наоборот. Волонтёр ребёнку друг. У этой программы есть разные формы.
		</li>
		<li class="dash-list__item">
			Участие в мини-проектах (Мастер-классы, Арт-терапия, Социальный театр и т.д.).
		</li>
	</ul>
{% endblock %}
