{% extends '../../partials/projects.twig' %}

{% block content_body %}
	<h3 class="graphic-title">
		<img src="../img/livingroomlogo.jpg" width="300" height="232" alt="Уютная гостиная">
		<span class="visually-hidden">Уютная гостиная</span>
	</h3>
	<p class="sect__descr">
		Досугово-образовательный центр для девочек из семей мигрантов в возрасте от 10 до 17 лет. В нашем Центре девочки могут изучать русский язык, знакомиться с культурой жизнью Санкт-Петербурга, делать уроки, развиваться творчески, а так же получить консультацию психолога, социального работника. Найти друзей возможно в нашем Центре не только среди сверстников, но и среди волонтеров, которые активно вовлечены в повседневную деятельность.
	</p>
	<p class="sect__descr">
		При центре действует волонтерский клуб, в котором волонтеры прошли специальную подготовку в области педагогики, психологии, социологии, медицины.
	</p>
	<p class="sect__descr">
		Проект направлен на преодоление межэтнических барьеров в подростковой среде, помощь в адаптации девочкам из семей мигрантов, улучшение социально-психологического климата через мультикультурное образование.
	</p>
	<p class="sect__descr">
		Основная целевой группой являются девочки из семей мигрантов 10–15 лет, приехавшие из бывших стран СНГ и горячих точек России и обучающиеся в общеобразовательных средних школах Санкт-Петербурга.
	</p>
	<p class="sect__descr">
		Мероприятия проекта:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			обучение русскому языку;
		</li>
		<li class="dash-list__item">
			факультативные занятия по истории и культуре России, способствующие формированию у девочек из семей мигрантов российской идентичности;
		</li>
		<li class="dash-list__item">
			социально-психологическая поддержка детей мигрантов с учетом целесообразности работы с семьей в целом;
		</li>
		<li class="dash-list__item">
			информационная работа с родителями детей мигрантов, способствующая их активному включению в жизнь общества;
		</li>
		<li class="dash-list__item">
			организация кружка «кулинарное искусство».
		</li>
	</ul>
	<p class="sect__descr">
		Мигранты, любых поколений и возрастов, должны чувствовать себя согражданами многонационального российского социума. Воспитание терпимости должно быть ежедневной кропотливой работой. Перед глазами у детей ежедневно как образцы для поведения должны быть толерантные люди.
	</p>
{% endblock %}
