{% extends '../../partials/projects.twig' %}

{% block content_body %}
	<p class="sect__descr">
		Между Красным Крестом г. Осло, Администрацией Калининского района Санкт-Петербурга, Санкт-Петербургским региональным отделением Общероссийской общественной организации «Российский Красный Крест», Калининским местным отделением Санкт-Петербургского регионального отделения Общероссийской общественной организации «Российский Красный Крест» и Межрегиональным общественным благотворительным фондом «За здоровое поколение на пороге XXI века» 11.12.2012 было заключено Соглашение о сотрудничестве, деятельность в рамках которого направлена на проведение мероприятий по социальной и психологической реабилитации несовершеннолетних, оказавшихся в трудной жизненной ситуации в условиях их круглосуточного пребывания в социально-реабилитационном центре.
	</p>
	<p class="sect__descr">
		По состоянию на сегодняшний день в Центре проживают 25 девочек, из них 14 несовершеннолетних в возрасте от 8 до 11 лет, 11 – от 12 до 17 лет. С 2011 года при содействии Центра по борьбе с инфекционными заболеваниями и СПИДом в Центр начался набор несовершеннолетних девочек, рожденных ВИЧ-позитивными матерями. Их в Центре 10 человек. Все дети, находящиеся на стационарной реабилитационной программе, это несовершеннолетние, оказавшиеся в трудной жизненной ситуации, которую они не смогли преодолеть самостоятельно или с помощью семьи. Девочки вследствие беспризорности и безнадзорности, находились в обстановке, представляющей опасность для их жизни и здоровья, либо не отвечающей требованиям к воспитанию или содержанию. Это дети из семей, где родители или законные представители несовершеннолетних не выполняли своих обязанностей по их воспитанию, обучению и содержанию и отрицательно влияли на их поведение, либо жестоко обращались с ними.
	</p>
	<p class="sect__descr">
		Все девочки, поступившие в Центр, нуждаются в социальной адаптации, социально-психологической реабилитации и ресоциализации. Все несовершеннолетние зачисляются в Центр после прохождения курса углубленного медицинского обследования.
	</p>
	<p class="sect__descr">
		За 2012 год на стационарной реабилитационной программе находилось 32 ребенка.
	</p>
	<p class="sect__descr">
		По состоянию на 1 января 2013 года программу реабилитации проходят 25 несовершеннолетних, реинтегрировано в семью за 2012 год - 3 девочки, переведены в другие государственные социозащитные учреждения – 1 несовершеннолетняя.
	</p>
	<p class="sect__descr">
		В Центр принимаются несовершеннолетние, обратившиеся за помощью самостоятельно или по инициативе родителей или законных представителей. Также в Центр девочки попадают по ходатайству отделов опеки и попечительства районных Муниципальных образований.
	</p>
	<p class="sect__descr">
		Целью создания Центра является удовлетворение потребностей общества в охране жизни, здоровья и нравственному спасению беспризорных и безнадзорных детей и подростков, в том числе злоупотребляющих психоактивными веществами, наркозависимых и токсикозависимых.
	</p>
	<p class="sect__descr">
		Основными задачами Центра являются профилактика безнадзорности и беспризорности, а также социальная реабилитация несовершеннолетних, оказавшихся в трудной жизненной ситуации, в том числе с опытом злоупотребления психоактивными веществами, наркозависимых и токсикозависимых, в строгом соответствии с законодательством, сотрудничая с органами исполнительной и законодательной власти Санкт-Петербурга, правоохранительными органами Санкт-Петербурга.
	</p>
	<p class="sect__descr">
		Для осуществления своей деятельности Центр принимает несовершеннолетних девочек и девушек в возрасте от 4 до 18 лет, обратившихся за помощью самостоятельно, по инициативе родителей (их законных представителей), направленных (поступивших) по другим основаниям в соответствии с законодательством Российской Федерации независимо от места жительства после прохождения курса специализированной стационарной медицинской помощи. Центр имеет право давать временное прибежище несовершеннолетним, нуждающимся в социальной защите, социальной и психологической реабилитации, не дожидаясь решения вопроса в суде о лишении их родителей родительских прав.
	</p>
	<p class="sect__descr">
		Центр предназначен для беспризорных и безнадзорных несовершеннолетних, несовершеннолетних группы социального риска, в том числе:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			с отклонениями в развитии, с девиантным поведением;
		</li>
		<li class="dash-list__item">
			с зависимыми формами поведения, с диагнозами наркомания, алкоголизм, токсикомания;
		</li>
		<li class="dash-list__item">
			утратившим семейные, родственные и другие позитивные социальные связи – отказавшимися жить в семье или в интернатном учреждении;
		</li>
		<li class="dash-list__item">
			проживающих в семьях групп социального риска;
		</li>
		<li class="dash-list__item">
			оставшихся без попечения, постоянного места жительства и средств к существованию;
		</li>
		<li class="dash-list__item">
			подвергшихся любым формам физического, сексуального, психического насилия;
		</li>
		<li class="dash-list__item">
			нуждающихся в социально-психологической реабилитации и адаптации, психокоррекционной и социально-психологической помощи;
		</li>
		<li class="dash-list__item">
			имеющих в своем диагнозе социально-опасные заболевания, такие, как ВИЧ-инфекция, хронические гепатиты, туберкулез и другие, в форме, не запрещающей пребывание в социозащитном учреждении для несовершеннолетних.
		</li>
	</ul>
	<p class="sect__descr">
		В период с 01.07.2008 по 31.12.2012 года целевая группа была представлена в основном девочками, относящимися к категории детей, оказавшихся в социально-опасном положении, которые вследствие безнадзорности и беспризорности находились в обстановке, представляющей опасность для их жизни и здоровья, либо не отвечающей требованиям к воспитанию или содержанию, либо совершали правонарушения или антиобщественные действия.
	</p>
	<p class="sect__descr">
		Это были дети из семей, где родители или законные представители несовершеннолетних не выполняли своих обязанностей по их воспитанию, обучению и содержанию и отрицательно влияли на их поведение, либо жестоко обращались с ними.
	</p>
	<p class="sect__descr">
		У «новичков», поступающих в Центр было серьезно нарушено психологическое состояние (смена моральных ценностей, личностные проблемы). Психологом проводилась с ними работа по привитию навыков взаимоподдержки, сочувствия. Вновь поступившие девочки, несомненно, проходят этап адаптации, который заключается в знакомстве с другими воспитанницами Центра и в приспособлении к условиям жизни в учреждении (соблюдение распорядка дня, выполнение хозяйственных поручений в Центре). Многим девочкам было трудно сразу избавиться от вредных привычек, агрессии, проявляемой в отношении других воспитанниц и сотрудников Центра. С новичками очень тесно работает педагогический коллектив Центра (воспитатели, социальные педагоги, психолог). Они в силу своей профессиональной квалификации создают в Центре терапевтическую среду и вовлекают в процесс активной жизни несовершеннолетних и обучают их поддержанию данной среды. По результатам работы у клиентов Центра значительно повысилась привлекательность жизни в учреждении, ощущение удовлетворенности и успешности от проживания собственной жизни. Удалось создать благоприятный психологический климат в учреждении, теплую семейную атмосферу.
	</p>
	<p class="sect__descr">
		Режим дня в Центре организован таким образом, чтобы все воспитанницы помимо учебных занятий в школе и в самом Центре, могли участвовать в обязательных мероприятиях, которые способствуют подготовке каждой девочки к самоопределению в основных сферах жизнедеятельности: трудовой, культурной, досуговой.
	</p>
	<p class="sect__descr">
		Персонал Центра проводит с несовершеннолетними занятия по социально-бытовой ориентировке, которые включают в себя следующие направления:
	</p>
	<ul class="dash-list">
		<li class="dash-list__item">
			личная гигиена – овладение умениями и навыками гигиены, ухода за кожей, сохранения и укрепления своего здоровья;
		</li>
		<li class="dash-list__item">
			одежда и обувь – привитие навыков самообслуживания, уход за одеждой и обувью, ремонт одежды;
		</li>
		<li class="dash-list__item">
			транспорт – овладение навыками пользования основными видами транспорта;
		</li>
		<li class="dash-list__item">
			семья – культура семейных отношений, планирование семьи, роли и этапы развития семьи;
		</li>
		<li class="dash-list__item">
			медицинская помощь – овладение навыками оказания первой медицинской помощи, получение первичных знаний о биологии, анатомии человека и т.д.;
		</li>
		<li class="dash-list__item">
			жилище - обучение навыкам ухода за предметами повседневного домашнего обихода и т. д.;
		</li>
		<li class="dash-list__item">
			этика и культура поведения – обучение путям и средствам установления личных взаимоотношений в семье, группе, классе, общественных местах и т.д. кроме этого, обучение навыкам поведения за столом, в коллективе сверстников, со старшими, в общественных местах;
		</li>
		<li class="dash-list__item">
			питание – ознакомление с основными продуктами питания, способами приготовления и хранения пищи, организации пространства кухни.
		</li>
	</ul>
	<p class="sect__descr">
		Досуговая составляющая направлена на гармоничное развитие личности каждого ребенка и включает в себя занятия в танцевальной студии, лепкой, театральные постановки и другими формами арт-терапии.
	</p>
	<p class="sect__descr">
		Один раз неделю проводятся занятия в Православной школе и занятия на базе конно-спортивной школы «Мустанг».
	</p>
	<p class="sect__descr">
		Культурная программа проводится в контексте оказания воспитанницам социально-психологической помощи. С января 2013 для них организован цикл тематических занятий в Эрмитаже (1 раз месяц). Дети посещают различные культурно-досуговые учреждения (дельфинарий, театры, кинотеатры, арт-клубы). Также иногда проводятся экскурсии по историческим местам Санкт-Петербурга и области.
	</p>
	<p class="sect__descr">
		В Центре организовано 4-хразовое горячее питание.
	</p>
	<p class="sect__descr">
		Все несовершеннолетние до поступления в Центр имели стойкую школьную дезадаптацию, у них было сформировано негативное отношение к процессу обучения. Почти все несовершеннолетние имеют задержку психического развития. Для определения ее причин проводилась тщательная диагностическая работа, в том числе и с привлечением сторонних специалистов. В ходе реабилитационной работы у девочек повысился уровень мотивации к обучению, воссозданы навыки, необходимые для обучения в школе. За исключением двух девочек, все остальные проходят обучение в коррекционных школах для детей с ослабленным здоровьем. В них они попадают по заключению городской психолого-медико-педагогической комиссии и направлению районного отдела образования.
	</p>
	<p class="sect__descr">
		На сегодняшний день в Центре активно развивается добровольческое движение в рамках программы «Наши дети». С декабря 2012 года в Центре запущен новый волонтерский проект «Старшая сестра», целью которого является не только наставничество за каждым ребенком, но и общение девушек-волонтеров и воспитанниц как сестер, направленное на улучшение психологического состояния несовершеннолетних и поддержку их эмоционального, жизненного и социального статуса. Добровольцы регулярно, согласно составляемому еженедельному расписанию, посещают Центр и помогают воспитанницам в выполнении их домашних заданий, сопровождают детей вместе с воспитателями на различные культурные мероприятия, проводят различные мастер-классы: по вязанию, естественному макияжу, кулинарному искусству, фотоделу, изобразительному и прикладному искусству и т. д.
	</p>
	<p class="sect__descr">
		Спортивная составляющая программы реабилитации занимает одно из ведущих мест. В соответствии с рекомендациями врача и психолога все дети занимаются утренней гимнастикой, проводятся занятия в тренажерном зале.
	</p>
	<p class="sect__descr">
		В 2012 году дети разных возрастных групп весенние, летние, осенние и зимние каникулы провели в детских оздоровительных лагерях, расположенных в живописных местах Карельского перешейка. Целью организации подобных мероприятий является получение позитивного эмоционального опыта и навыков его приобретения в контексте здорового образа жизни.
	</p>
	<p class="sect__descr">
		В Центре в течение учебного года проводятся различные праздники (встреча Нового года, 8 марта, окончание учебного года, День знаний, дни рождения воспитанниц). В каждом мероприятии активно участвуют все воспитанницы, они под руководством психолога готовят различные выступления и участвуют в конкурсах.
	</p>
	<p class="sect__descr">
		В настоящее время в Центре работают 18 сотрудников, включая технический персонал. Все сотрудники (директор, заместитель директора, психолог, инструкторы-методисты, воспитатели) имеют высшее образование и большой опыт работы в данной сфере.
	</p>
	<p class="sect__descr">
		Миссией всех сотрудников Центра является организация индивидуальной и групповой работы с детьми, направленной на улучшение их социальной адаптации, проведение мероприятий по их защите и поддержке, а также трудовому и бытовому устройству.
	</p>
	<p class="sect__descr">
		Одной из главных задач является организация учебного и воспитательно-реабилитационного процесса в Социально-реабилитационном центре, который направлен на восстановление формирование личности дезадаптированных несовершеннолетних, на обеспечение их развития в соответствии с возрастными нормами, на преодоление нарушений поведения, на формирование устойчивой предпосылки к учебе и труду, на восстановление утраченных и приобретение новых социальных позитивных связей.
	</p>
	<p class="sect__descr">
		Проводятся мероприятия по психопрофилактике, психокоррекции, психологическому консультированию при оказании помощи клиентам, их родственникам в решении личностных, профессиональных и бытовых психологических проблем.
	</p>
	<p class="sect__descr">
		Но самой главной целью нашей работы было и остается сохранение жизни и здоровья каждого ребенка, находящегося в нашем Центре.
	</p>
	<p class="sect__descr sect__descr--address">
		Директор Центра Середа В. М.
	</p>
{% endblock %}
